<div>
  <div>
    <div>
      <h3 style="color: crimson; font-size: 30px;">Reset Password</h3>
      <p>Please enter your email address to request a password reset.</p>
      <div>
        <input type="email" style="width: 240px; height: 20px;" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div style="margin-top: 10px">
        <input type="submit" style="padding: 10px 50px; background-color: crimson; color: white; border: none; font-size: 20px;" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div style="margin-top: 10px;">
      <span style="cursor: pointer;" routerLink="/sign-in">Log In</span>
    </div>
  </div>
</div>